# .gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# MicroPython compiled files
*.mpy

# Thonny IDE files
.thonny/

# VSCode settings folder
.vscode/

# Files created by rshell or ampy
.pyboard/

# Local config files with sensitive data
config.py
config.json

# Log files
*.log

# Backup files
*~

# Other temporary files
*.tmp
*.temp

